* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches', cursive;
  --ff-text: 'Palanquin', sans-serif;

  --header-bg: #8E9AAF;
  --header-bg-secondary: #CBC0D3;
  --main-bg: #EFF1FF;
  --desktop-main-bg: #FFFFFF;
  --card-info-bg: #FEEAFA;

  --fc-primary: #23053A;
  --fc-secondary: #4A4E69;
  --fc-header: #FFFFFF;
}

body {
  background-color: var(--main-bg);
}

.logo-container {
  background-color: var(--header-bg);
  height: 16rem;
}

.logo-container img {
  max-width: 8.563rem;
  display: block;
  margin: 0 auto 2rem;
  padding-top: 2rem;

  animation: fromleft 2s forwards;
}

.logo-container .company-name-wrapper {
  background-color: var(--header-bg-secondary);
  margin-bottom: 2.25rem;

}

.logo-container .company-name-wrapper h1 {
  font-family: var(--ff-heading);
  font-weight: 400;
  color: var(--fc-header);

  font-size: 2.5rem;
  line-height: 2.125rem;
  letter-spacing: 0.8px;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 0.5rem 0 0.5rem;
  animation: fromrigth 2s forwards;
}

.text-container {
  font-family: var(--ff-text);
  font-size: 1rem;
  color: var(--fc-primary);
  text-align: center;
  
  margin: 0.875rem 0 3.75rem;
}

.text-container p {
  max-width: 20rem;
  margin: 0 auto;
}

.cards-container {
  max-width: 20rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;
  display: grid;
  gap: 2.25rem;
  border: 1px solid purple;
}

.card {
object-fit: contain;

  position: relative;

  animation: frombottom 1s forwards;
}

.card a img {
  filter: brightness(0.7);
  transition: 200ms;

  width: 100%;
}

.card a img:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.card h2 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.125rem;
  color: var(--fc-secondary);
  background-color: var(--card-info-bg);


  padding: 0 1.5rem;
  border-radius: 1.25rem;

  position: absolute;
  right: 1rem;
  top: 1rem;

  animation: fromtop 1s .25s backwards;
}

/* media queries */
@media (max-width: 350px) {
  .cards-container,
  .text-container {
    padding: 1rem;
  }
}

@media (min-width: 950px) {
  body {
    height: 100vh;
    background-color: var(--desktop-main-bg);
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  header {
    background-color: var(--header-bg);  
  }

  .logo-container img {
    max-width: 13.438rem;
  }
  
  .logo-container .company-name-wrapper h1 {
    padding: 0.625rem 0;
    font-size: 3rem;
    animation: fromleft 2s forwards;
  }

  .text-container {
    font-size: 1.5rem;
    color: var(--fc-header);
    max-width: 17.188rem;
    margin: 0 auto;
    margin-top: 4rem;
    animation: fromleft 2s forwards;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cards-container {
    max-width: 56.438rem;
    grid-template-areas: "A B" "D B" "D C";

    border: 1px solid black;
  }
  
  .cards-container .card {
    max-width: 13.75rem;
    height: fit-content;
  }

  .cards-container .card:nth-child(1) {
    grid-area: A;
  }

  .cards-container .card:nth-child(2) {
    grid-area: B;
  }

  .cards-container .card:nth-child(3) {
    grid-area: C;
  }

  .cards-container .card:nth-child(4) {
    grid-area: D;
  }
} 

/* keframes */
@keyframes fromleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromrigth {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes frombottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fromtop {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* possibilidades */
/* .page .card h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 8px;
} */
/* p {
  font-size: clamp(1rem, 1rem + 5vw, 2rem);
} */